.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
index_backup.qmd
links.txt
test_code.R
clean_up.R
map_tooltip.html
maps_description.html
misc.R
about.qmd
demographics_voters.html
out/
Data/151-1200-8-pril.docx
Data/2018_voted.csv
Data/2018_voted.numbers
Data/2024_UIK_CIK_source.txt
Data/RU04_20_Russia.csv
Data/RU04_20_Russia.numbers
Data/exit_poll_2024_prelim.csv
Data/exit_poll_2024_prelim.numbers
Data/missingUIK2024.csv
Data/missingUIK2024.numbers
docs/about.html
docs/index_backup.html
docs/index_backup_files
docs/about_files
!out/results-of-russian-president-elections-2024.png